@import url('https://fonts.googleapis.com/css?family=Saira+Extra+Condensed');

.Login, .Login-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Login{
    
    height: 100vh;
}

.Login-box{
    width: 400px;
    height: 350px;
    background-color: #607D8B;
    border-radius: 6px;
    flex-direction: column;
}

.Login-box-formbox{
    display: flex;
    flex-direction: column;
}

.Login-box-username,
.Login-box-password{
    font-size: 1.2em;
    color: azure;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.Login-submit{
    display: block;
    margin: 12px auto;
    background-color: white;
    border-radius: 4px;
    border: none;
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Saira Extra Condensed', sans-serif;
}

.Login-username-input{
    width: 250px;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Saira Extra Condensed', sans-serif;

}